body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
a {
  color: #885df1;
}

main {
  padding: 30px 0;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-city-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.current-city-details strong {
  color: #f65282;
}
.current-temp-value {
  font-size: 80px;
  font-weight: bold;
}
.current-temp-icon {
  position: relative;
  margin-right: 5px;
  top: -10px;
  font-size: 50px;
  padding-right: 8px;
}
.current-temp-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}
.weather-app {
  background-color: white;
  margin: 60px;
  max-width: 600px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.search-input {
  background-color: #f9f7fe;
  border: none;
  color: #885df1;
  font-size: 16px;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
}
.search-button {
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border: none;
  margin-left: 5px;
  padding: 20px 30px;
  line-height: 1;
  border-radius: 6px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 18px;
}
